/* ./src/index.css */
@keyframes grow {
  from {
    transform: translate(-100%, -100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes grow {
  from {
    transform: translate(-100%, -100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@font-face {
  font-family: 'ibm plex sans';
  src: url('/src/assets/ibm-plex-sans-normal.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'ibm plex sans';
  src: url('/src/assets/ibm-plex-sans-bold.woff2');
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

div.code {
  white-space: pre;
}

* {
  font-family: ibm plex sans, sans-serif;
}

@layer utilities {
  .inner-shadow {
    box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  }

  .active-page {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff444f;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  .navigation-transition {
    width: 20px;
    visibility: visible;
  }

  .burger {
    transition: left 0.4s ease 0s;
  }

  .transition-left {
    left: 0;
  }

  .mobile-nav-after {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    background-color: red;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .api-token {
    max-width: calc(80% - 150px);
  }

  .sub-box-container .box {
    margin-bottom: unset;
  }

  .sub-box-container .box-body {
    background-color: rgba(37, 37, 37, 0.4);
  }

  .box-body {
    background-color: #151717;
  }

  .box-active {
    opacity: 1;
    /* width:100%;
        height: 100%; */
    transition: all 10s ease-in;
  }

  .sidebar {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 44px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .single-container {
    @apply mobile:single-container-mobile flex flex-col flex-wrap align-middle justify-center text-center w-4/5;
    height: 150px;
  }

  .single-container-mobile {
    width: unset;
    padding: 40px 16px 0;
  }
  .community-container {
    background-color: #0e0e0e;  
  }

  .text-h2-community {
    @apply mobile:text-h2-community-mobile desktop:text-h2-community-desktop text-white mb-2 font-bold;
    font-family: ibm plex sans,sans-serif;
  }

  .text-h2-community-desktop {
    font-size: 26px;
  }

  .text-h2-community-mobile {
    font-size: 20px;
  }

  .community-btn {
    color: white !important;
    padding: 6px 16px;
    border: 1px solid gray;
    width: 150px;
    margin: 0 auto;
  }

  .community-mail {
    color: #EF4444;
  }

  .main-page-card-mobile {
    max-width: 360px;
  }

  .main-page-row {
    height: fit-content;
    padding: 80px 0;
  }

  .min-h-52 {
    min-height: 13rem;
  }

  .mb-30px {
    margin-bottom: 30px;
  }

  .text-color-general {
    color: #333;
  }

  .text-community {
    @apply text-base;
    font-size: 13px;
    color: #c2c2c2;
  }

  .w-9\/10 {
    width: 90%;
  }

  .padding-bottom-footer {
    padding-bottom: 56px;
  }

  .ways {
    @apply flex items-center my-5 mx-3 p-4 rounded;
    max-width: 660px;
    box-shadow: 0 4px 8px 0 rgb(14 14 14 / 10%);
    background-color: #fff;
  }
  .active-signature-animate {
    overflow: hidden;
    animation-name: grow;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  .btn-secondary {
    @apply rounded border-solid border-2 font-bold text-sm py-2 px-4 text-center text-gray-darkest w-auto inline-block;
    border-color: rgba(153, 153, 153, 1);
    letter-spacing: normal;
  }

  .scopes-field {
    @apply flex flex-row items-center justify-self-center mb-4 w-full;
  }

  .scopes-field input {
    @apply mr-4;
  }

  .page-content {
    @apply pl-12;
  }

  .input-wrapper .helper-label {
    @apply bg-white text-xs mb-0 p-1 absolute;
    left: 0.5vw;
    top: -12px;
    line-height: 1.4;
    color: rgba(51, 51, 51, 1);
  }

  .page-content #api-token-fieldset .api-token-wrapper {
    @apply flex items-center justify-center relative w-full;
  }
  .page-content #api-token-fieldset {
    @apply mb-10;
  }
  .page-content #api-token-fieldset .api-token-wrapper .helper-label {
    @apply bg-white text-xs mb-0 p-1 absolute;
    left: 7vw;
    top: -12px;
    line-height: 1.4;
    color: rgba(51, 51, 51, 1);
  }
  .btn-authenticate {
    @apply h-10 text-sm py-2 px-4 text-white w-32;
    border-radius: 0 4px 4px 0;
    background-color: rgba(255, 68, 79, 1);
    line-height: 1.43;
  }

  fieldset .input-wrapper {
    @apply flex flex-wrap items-center justify-center mb-4 relative;
  }

  /* ℹ️ Base selector: .input-wrapper input */
  /* ✨ TailwindCSS: "rounded border-solid border h-10 text-sm mb-6 py-0 px-3 w-full" */
  /* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
  .input-wrapper input {
    @apply rounded border-solid border h-10 text-sm mb-6 py-0 px-3 w-full;
    border-color: rgba(214, 218, 219, 1);
    line-height: 1.43;
    color: rgba(51, 51, 51, 1);
  }

  .form-content fieldset .helper-text {
    @apply text-xs leading-normal pl-3 w-full;
    color: rgba(153, 153, 153, 1);
  }
  .form-content fieldset .last {
    @apply mb-0;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-darkest;
  }

  h1 {
    @apply text-5xl mb-10 text-center font-bold;
  }

  h3 {
    @apply text-4xl mb-8 font-bold;
  }

  h4 {
    @apply text-2xl leading-normal mb-10 text-center text-gray-darkest;
  }

  h3 {
    @apply text-2xl mb-4 font-bold;
  }

  p {
    @apply leading-7 mb-4;
  }

  ul {
    @apply ml-5;
  }

  li {
    @apply mb-4 mt-4 list-item list-disc;
  }
}

.faq-page {
  background-image: url(./assets/pattern-left.svg);
  background-repeat: no-repeat,no-repeat;
  z-index: 0;
}
.hljs {
  color: #24292e;
  background: rgba(17, 24, 39, 1) !important;
}
